#map-canvas {
        height: 354px;
        width: 400px;
        margin: 0;
        padding: 0;
      }

div {
  margin-top: 3px;
  padding: 0 10px;
}

button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 13px;
  padding: 8px 18px 10px;
  line-height: 1;
  color: #fff;
  background: #345;
  border: 0;
  border-radius: 4px;
  margin-left: 0.75em;
}

p {
  display: inline-block;
  margin-left: 10px;
}


.mediaArea { display:inline-block; clear:both; padding:0; margin:0;}
#player1 { float:left; }
.mediaArea div { padding:0; margin:0;}
.mediaArea .map { float:left; display:inline-block; padding:0; margin:0;}
.mediaArea .textArea { width:100%; height:80px; overflow:auto;}
.controlsArea { display:block; clear:both; }
.playerControls { display:inline-block; float:left;  }
.playerControls button {display:inline-block; clear:both; width:100px; margin:0px 5px 10px 5px;}
.controlsArea .statusArea { display:block; clear:both;}
.externalPage { width:100%; height:800px; }