{#

/**
 * @file
 * Template file for js_example module.
 */
#}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script type="text/javascript" src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
<div class="controlsArea">
    
    <div class="statusArea">
        Status: <span class="status">&hellip;</span>,  
        Duration: <span class="duration">&hellip;</span>, 
        Play Head: <span class="position">&hellip;</span>,  
        Update Latency: <span class="delta">&hellip;</span>
    </div>
</div>

<div class="mediaArea">
   <iframe id="player1" src="https://player.vimeo.com/video/76979871?api=1&player_id=player1" width="630" height="354" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allowtransparency="true" ></iframe>
   <div class="playerControls">
        <button>Play</button><br>
        <button>Pause</button> 
    </div>
<div class="map" id="map-canvas"></div>
<div id="textArea1" class="textArea">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit risus sapien, sed rhoncus nibh ultrices id. Morbi arcu neque, ornare lacinia auctor quis, aliquet et quam. Sed rutrum diam eu fringilla eleifend. Phasellus aliquam, tortor sit amet sagittis pulvinar, nisi odio porttitor odio, sed dignissim ligula elit eu nunc. In hac habitasse platea dictumst. Cras ac venenatis mauris. Aliquam vel urna vitae nisl luctus ultrices sed sit amet dui.
Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse posuere ex dolor. Aliquam pretium erat eu est tempus pulvinar. Mauris pharetra dui vitae accumsan cursus. Quisque consequat, dolor at mattis interdum, diam leo molestie justo, vitae pretium massa sem sit amet tortor. Maecenas quis pulvinar metus, sit amet bibendum libero. In lacinia tincidunt nibh, et imperdiet diam faucibus nec.
Sed purus sapien, blandit at sollicitudin et, scelerisque a ex. Maecenas velit lectus, tempor sodales tortor ac, gravida ullamcorper diam. Curabitur semper lacus ultricies, volutpat dolor sed, tristique justo. Ut aliquam urna tortor, eget eleifend est euismod sed. Vestibulum finibus ullamcorper massa, et tempor lectus bibendum a. Nam malesuada varius dui, vitae volutpat tellus dictum id. Maecenas non vestibulum ex, id porttitor lorem. Praesent vitae tristique turpis. Suspendisse potenti. Curabitur interdum elementum pretium. Vivamus in ultricies felis, ac auctor metus. Ut interdum, ex vel porttitor hendrerit, quam ligula malesuada sapien, id convallis leo justo vitae risus. Duis vel nisi semper urna fermentum vehicula dignissim sed ipsum. Vivamus et facilisis massa, id ultrices mauris. Quisque maximus nisl et arcu tempus sollicitudin. Pellentesque sit amet libero vel risus vulputate gravida ac eu turpis.
Nam sit amet eleifend enim. Phasellus tincidunt cursus diam sed tempus. Aenean sed purus dui. Maecenas ultrices tincidunt elit et venenatis. Sed facilisis aliquet lectus eu pharetra. Quisque ut accumsan erat, quis mollis odio. Curabitur tincidunt quis purus vitae suscipit. Donec vitae diam posuere, luctus ex sit amet, mattis nisi. Aenean quis interdum nulla. Duis tempor fermentum mollis.
Nunc fringilla eros vitae eros sagittis, ac pharetra arcu suscipit. Curabitur id libero eget odio lobortis suscipit sed sit amet massa. Maecenas ut dui erat. Suspendisse gravida at nibh eget scelerisque. Maecenas tristique augue sed nisl posuere ultricies. Pellentesque elit ligula, efficitur vitae lacus convallis, finibus porttitor erat. Phasellus id blandit orci. Nulla volutpat elit ac turpis tristique consequat. Nunc mauris sapien, egestas dapibus commodo non, lobortis in mauris.
</div>
</div>
<iframe class="externalPage" id="externalPage" src="http://agnr.umd.edu"></iframe>



